body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.text {
  padding: 2vh;
}

input {
  width: 30%;
  height: 20px;
}

.lines-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px;
  width: 30%;
  border: 1px solid;
}

.lines-container > div {
  display: flex;
}

.lines-container > div:hover {
  cursor: pointer;
}

.status {
  width: 10px;
  height: 10px;
  align-self: center;
  vertical-align: middle;
  margin-right: 5px;
}

.list-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.master {
  display: flex;
  flex-direction: column;
}

h1 span {
  cursor: pointer;
}

.cancelButton {
  margin-left: 10px;
  border: 1px solid;
  padding: 0px 2px 0px 2px;
  visibility: hidden;
  color: red;
  cursor: pointer;
}

.lines-container:hover .cancelButton {
  visibility: visible;
}

.clear {
  font-weight: 200;
  margin-left: 20px;
  visibility: hidden;
}

h1:hover .clear {
  visibility: visible;
}